<a href="https://colab.research.google.com/github/sitimustikaayu/Python_DataScientist/blob/main/Google_Drive_Import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
os.chdir('/content/drive/MyDrive/Myskill_python')

In [5]:
os.listdir()

['movies_metadata.csv', 'ratings_small.csv']

In [6]:
movies_data = pd.read_csv('movies_metadata.csv')

/tmp/ipython-input-1684581460.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_data = pd.read_csv('movies_metadata.csv')

In [7]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [8]:
movies_data.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
15336,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,35129,tt0050347,en,Edge of the City,An army deserter and a black dock worker join ...,...,1957-08-02,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tense drama of frightened men!,Edge of the City,False,6.4,8.0
1915,False,NaN,1227401,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,1411,tt0102757,en,The Rapture,"A lonely telephone operator leading an empty, ...",...,1991-10-04,1277401.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"""It goes places movies seldom dare to go.""",The Rapture,False,6.4,15.0
26298,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,108822,tt0102566,en,Nuit et jour,Jack and Julie live in a bare flat in Paris. A...,...,1991-08-28,0.0,90.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,NaN,Night and Day,False,5.0,1.0
7841,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11939,tt0028772,en,A Day at the Races,"Doctor Hugo Hackenbush, Tony, and Stuffy try a...",...,1937-06-11,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,America's Joy-Friends are back again in the gr...,A Day at the Races,False,7.5,44.0
29269,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,202337,tt0092199,en,Welcome to 18,Three young women looking for adventure get jo...,...,1986-04-18,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the Prom to the Pen...,Welcome to 18,False,0.0,0.0

In [9]:
movies_data.index

RangeIndex(start=0, stop=45466, step=1)

In [10]:
movies_data = movies_data.set_index("original_title")

In [11]:
movies_data.loc["Toy Story"]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: Toy Story, dtype: object

In [12]:
movies_data = movies_data.reset_index()

In [13]:
movies_data.loc[0]

original_title                                                   Toy Story
adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object

In [14]:
movies_data.loc[0, "original_title"]

'Toy Story'

In [15]:
#Tampilkan semuanya
movies_data.loc[:, 'original_title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45461                        ÿ±⁄Ø ÿÆŸàÿßÿ®
45462            Siglo ng Pagluluwal
45463                       Betrayal
45464            Satana likuyushchiy
45465                       Queerama
Name: original_title, Length: 45466, dtype: object

In [16]:
# Tampilkan column original title dan vote
movies_data.loc[:, ['original_title', 'vote_average']]

                    original_title  vote_average
0                        Toy Story           7.7
1                          Jumanji           6.9
2                 Grumpier Old Men           6.5
3                Waiting to Exhale           6.1
4      Father of the Bride Part II           5.7
...                            ...           ...
45461                      ÿ±⁄Ø ÿÆŸàÿßÿ®           4.0
45462          Siglo ng Pagluluwal           9.0
45463                     Betrayal           3.8
45464          Satana likuyushchiy           0.0
45465                     Queerama           0.0

[45466 rows x 2 columns]

In [17]:
# Mencari tau kolomnya apa saja
movies_data.columns

Index(['original_title', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [18]:
# Melihat type data
movies_data.dtypes

original_title            object
adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [19]:
movies_data

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,Jumanji,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,Waiting to Exhale,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,ÿ±⁄Ø ÿÆŸàÿßÿ®,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,Siglo ng Pagluluwal,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,Betrayal,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,Satana likuyushchiy,False,NaN,0,[],NaN,227506,tt0008536,en,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,Queerama,False,NaN,0,[],NaN,461257,tt6980792,en,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [20]:
movies_data["release_date"]

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [21]:
# Merubah type data release_date menjadi datetime
# movies_data['release_date'] = pd.to_datetime(movies_data['release_date']
movies_data['release_date'] = pd.to_datetime(movies_data['release_date'], errors='coerce')

In [22]:
movies_data['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]

In [23]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         45466 non-null  object
 1   adult                  45466 non-null  object
 2   belongs_to_collection  4494 non-null   object
 3   budget                 45466 non-null  object
 4   genres                 45466 non-null  object
 5   homepage               7782 non-null   object
 6   id                     45466 non-null  object
 7   imdb_id                45449 non-null  object
 8   original_language      45455 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(19)
memory usage: 8.3+ MB

In [24]:
# merubah type data adult = bool, budget, id, imdb_id, = integer ; popularity = float
movies_data['adult'] = movies_data['adult'].astype('bool')

In [25]:
# merubah type data budget, id, imdb_id, = integer
movies_data['budget'] = pd.to_numeric(movies_data['budget'], errors='coerce')
movies_data['id'] = pd.to_numeric(movies_data['id'], errors='coerce')
movies_data['popularity'] = pd.to_numeric(movies_data['popularity'], errors='coerce')

In [26]:
# mengganti type data imdb_id dari object ke integer
movies_data['imdb_id'] = pd.to_numeric(movies_data['imdb_id'], errors='coerce')

In [27]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         45466 non-null  object
 1   adult                  45466 non-null  bool
 2   belongs_to_collection  4494 non-null   object
 3   budget                 45463 non-null  float64
 4   genres                 45466 non-null  object
 5   homepage               7782 non-null   object
 6   id                     45463 non-null  float64
 7   imdb_id                3 non-null      float64
 8   original_language      45455 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(8), object(14)
memory usage: 8.0+ MB

In [28]:
movies_data['status'].unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [29]:
movies_data['original_language'].nunique()

92

In [30]:
movies_data == 'Released'

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
45462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
45463,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
45464,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
45465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [31]:
english_Release = movies_data[(movies_data['status'] == 'Released') & (movies_data['original_language'] == 'en')]

In [32]:
# baris kebawah agar tidak terlalu panjang gunakan  \
english_Release = movies_data[(movies_data['status'] == 'Released') &\
                              (movies_data['original_language'] == 'en')]

In [33]:
english_Release

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,Toy Story,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,NaN,en,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,Jumanji,True,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,NaN,en,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,Grumpier Old Men,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,NaN,en,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,Waiting to Exhale,True,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,NaN,en,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,Father of the Bride Part II,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,NaN,en,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,Caged Heat 3000,True,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848.0,NaN,en,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,Robin Hood,True,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840.0,NaN,en,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45463,Betrayal,True,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758.0,NaN,en,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,Satana likuyushchiy,True,NaN,0.0,[],NaN,227506.0,NaN,en,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,Queerama,True,NaN,0.0,[],NaN,461257.0,NaN,en,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [34]:
english_Release.sort_values('budget', ascending=False)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17124,Pirates of the Caribbean: On Stranger Tides,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",380000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,1865.0,NaN,en,Captain Jack Sparrow crosses paths with a woma...,...,2011-05-14,1.045714e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,False,6.4,5068.0
11827,Pirates of the Caribbean: At World's End,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285.0,NaN,en,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0
26558,Avengers: Age of Ultron,True,"{'id': 86311, 'name': 'The Avengers Collection...",280000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861.0,NaN,en,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
11067,Superman Returns,True,"{'id': 8537, 'name': 'Superman Collection', 'p...",270000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.superman.com,1452.0,NaN,en,Superman returns to discover his 5-year absenc...,...,2006-06-28,3.910812e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Superman Returns,False,5.4,1429.0
44842,Transformers: The Last Knight,True,"{'id': 8650, 'name': 'Transformers Collection'...",260000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988.0,NaN,en,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18976,Pine Flat,True,NaN,0.0,[],NaN,122341.0,NaN,en,"Set in a small town in the Sierra Nevadas, Pin...",...,2006-01-01,0.000000e+00,138.0,[],Released,NaN,Pine Flat,False,0.0,0.0
18977,Back Street,True,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,109016.0,NaN,en,"Previously filmed in 1932, and remade a third ...",...,1941-02-07,0.000000e+00,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Back Street,False,7.0,1.0
18978,Where East is East,True,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,118131.0,NaN,en,A Chinese wife returns to the American family ...,...,1929-05-04,0.000000e+00,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Where East is East,False,5.0,1.0
18979,Sound of My Voice,True,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,86812.0,NaN,en,A journalist and his girlfriend get pulled in ...,...,2011-01-22,0.000000e+00,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Sound of My Voice,False,6.3,109.0
2625,The Kindred,True,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,48660.0,NaN,en,"Amanda's deathbed request to her son, John, wa...",...,1987-01-09,0.000000e+00,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,John's got a half brother... half human... hal...,The Kindred,False,5.9,7.0

In [35]:
#Sort 2 kolom berdasarkan yg terbesar
english_Release.sort_values(['budget', 'revenue'], ascending=[False, False]).head(2)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17124,Pirates of the Caribbean: On Stranger Tides,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",380000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,1865.0,NaN,en,Captain Jack Sparrow crosses paths with a woma...,...,2011-05-14,1.045714e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,False,6.4,5068.0
11827,Pirates of the Caribbean: At World's End,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285.0,NaN,en,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0

In [36]:
# Jumlah duplikat
english_Release.duplicated().sum()

np.int64(9)

In [37]:
# Menampilkan yg duplikat
english_Release[english_Release.duplicated()]

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9327,The Warrior,True,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305.0,NaN,en,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}]",Released,NaN,The Warrior,False,6.3,15.0
21165,The Tempest,True,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916.0,NaN,en,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,The Congress,True,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795.0,NaN,en,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22151,Days of Darkness,True,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440.0,NaN,en,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
24844,Deal,True,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115.0,NaN,en,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
28860,Nana,True,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538.0,NaN,en,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
35798,Why We Fight: Divide and Conquer,True,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849.0,NaN,en,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
38871,The Viking,True,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080.0,NaN,en,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40276,Seven Years Bad Luck,True,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995.0,NaN,en,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0

In [38]:
# Jumlah duplikat di kategori tertentu
english_Release.duplicated(subset = 'original_title').sum()

np.int64(1746)

In [39]:
english_Release[english_Release.duplicated(subset = 'original_title', keep = False)].sort_values('original_title', ascending=True)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
15200,12 Angry Men,True,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,12219.0,NaN,en,During the trial of a man accused of his fathe...,...,1997-08-17,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,12 Angry Men,False,7.5,59.0
1161,12 Angry Men,True,NaN,350000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,389.0,NaN,en,The defense and the prosecution have rested an...,...,1957-03-25,1000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life is in their hands. Death is on their minds.,12 Angry Men,False,8.2,2130.0
20848,"20,000 Leagues Under the Sea",True,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,2966.0,NaN,en,"The year is 1886, when New England's fishing h...",...,1997-05-11,0.0,158.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the last place on earth.,"20,000 Leagues Under the Sea",False,4.6,13.0
13003,"20,000 Leagues Under the Sea",True,NaN,200000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,30266.0,NaN,en,Captain Nemo has built a fantastic submarine f...,...,1916-12-24,8000000.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea",False,6.0,7.0
24109,"20,000 Leagues Under the Sea",True,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,2965.0,NaN,en,"In the 19th century, an expert marine biologis...",...,1997-03-23,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Darkness is to be feared... above and below.,"20,000 Leagues Under the Sea",False,6.3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11646,Zodiac,True,NaN,65000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,1949.0,NaN,en,The true story of the investigation of 'The Zo...,...,2007-03-02,84785914.0,157.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's more than one way to lose your life to...,Zodiac,False,7.3,2080.0
37899,Zoom,True,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,351065.0,NaN,en,A multi-dimensional interface between a comic ...,...,2015-09-11,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Zoom,False,5.7,25.0
11171,Zoom,True,NaN,35000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,14113.0,NaN,en,Jack Shepard is an out-of-shape auto shop owne...,...,2006-08-11,12506188.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're going to save the world... as long as ...,Zoom,False,4.9,140.0
5761,Zulu,True,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",3500000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14433.0,NaN,en,"In 1879, during the Zulu wars, man of the peop...",...,1964-01-22,8000000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dwarfing the mightiest! Towering over the grea...,Zulu,False,7.4,137.0
24663,Zulu,True,NaN,16000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,185567.0,NaN,en,"As a child, Ali Neuman narrowly escaped being ...",...,2013-12-04,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zulu,False,6.7,176.0

In [40]:
# Menghapus duplikat
english_Release.drop_duplicates(inplace=True)
english_Release.shape

/tmp/ipython-input-79536651.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release.drop_duplicates(inplace=True)

(31943, 24)

In [41]:
english_Release.duplicated().sum()

np.int64(0)

In [42]:
# Banyaknya data yg belum teri-isi
english_Release.isna().sum()

original_title               0
adult                        0
belongs_to_collection    28845
budget                       0
genres                       0
homepage                 25842
id                           0
imdb_id                  31943
original_language            0
overview                    64
popularity                   0
poster_path                311
production_companies         0
production_countries         0
release_date                59
revenue                      0
runtime                      6
spoken_languages             0
status                       0
tagline                  14114
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

In [43]:
# Mengisi data kosong
english_Release['tagline'] = english_Release['tagline'].fillna('No Tagline')
english_Release['belongs_to_collection'] = english_Release['belongs_to_collection'].fillna('No Data')
english_Release['homepage'] = english_Release['homepage'].fillna('No Data')
english_Release['overview'] = english_Release['overview'].fillna('No Data')
english_Release['poster_path'] = english_Release['poster_path'].fillna('No Data')

/tmp/ipython-input-3022919548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release['tagline'] = english_Release['tagline'].fillna('No Tagline')
/tmp/ipython-input-3022919548.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release['belongs_to_collection'] = english_Release['belongs_to_collection'].fillna('No Data')
/tmp/ipython-input-3022919548.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release['homepage'] = english_Release['homepage'].fillna('No Data')
/tmp/ipython-input-3022919548.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release['overview'] = english_Release['overview'].fillna('No Data')
/tmp/ipython-input-3022919548.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release['poster_path'] = english_Release['poster_path'].fillna('No Data')

In [44]:
# Melihat jumlah data yg belum terisi
english_Release.isna().sum()

original_title               0
adult                        0
belongs_to_collection        0
budget                       0
genres                       0
homepage                     0
id                           0
imdb_id                  31943
original_language            0
overview                     0
popularity                   0
poster_path                  0
production_companies         0
production_countries         0
release_date                59
revenue                      0
runtime                      6
spoken_languages             0
status                       0
tagline                      0
title                        0
video                        0
vote_average                 0
vote_count                   0
dtype: int64

In [45]:
# Menghapus kolom imdb_id
english_Release.drop('imdb_id', axis=1, inplace=True)

/tmp/ipython-input-1020412142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release.drop('imdb_id', axis=1, inplace=True)

In [46]:
english_Release.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31943 entries, 0 to 45465
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         31943 non-null  object
 1   adult                  31943 non-null  bool
 2   belongs_to_collection  31943 non-null  object
 3   budget                 31943 non-null  float64
 4   genres                 31943 non-null  object
 5   homepage               31943 non-null  object
 6   id                     31943 non-null  float64
 7   original_language      31943 non-null  object
 8   overview               31943 non-null  object
 9   popularity             31943 non-null  float64
 10  poster_path            31943 non-null  object
 11  production_companies   31943 non-null  object
 12  production_countries   31943 non-null  object
 13  release_date           31884 non-null  datetime64[ns]
 14  revenue                31943 non-null  float64
 15  runtime                31937 non-null  float64
 16  spoken_languages       31943 non-null  object
 17  status                 31943 non-null  object
 18  tagline                31943 non-null  object
 19  title                  31943 non-null  object
 20  video                  31943 non-null  object
 21  vote_average           31943 non-null  float64
 22  vote_count             31943 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(7), object(14)
memory usage: 5.6+ MB

In [47]:
# Menghapus data yg kosong
english_Release.dropna(inplace=True)

/tmp/ipython-input-3308877039.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_Release.dropna(inplace=True)

In [48]:
english_Release.isna().sum()

original_title           0
adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
original_language        0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [49]:
english_Release.shape

(31879, 23)

In [50]:
tertinggi = english_Release.sort_values("vote_count", ascending=False)

In [51]:
tertinggi.loc[:,['original_title']]

                                original_title
15480                                Inception
12481                          The Dark Knight
14551                                   Avatar
17818                             The Avengers
26564                                 Deadpool
...                                        ...
20438                          The Pink Jungle
20459  In the Edges: The 'Grizzly Man' Session
20575                            Shadow Boxers
45416                  Rigadin peintre cubiste
45361                     The Airzone Solution

[31879 rows x 1 columns]

In [52]:
rating = pd.read_csv("ratings_small.csv")

In [53]:
# Menampilkan data
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [54]:
# mengubah timestamp jadi sekon
rating['timestamp'] = pd.to_datetime(rating['timestamp'], unit='s')

In [55]:
# cek tipe data sekaligus
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [56]:
# cek duplikat
rating.duplicated().sum()

np.int64(0)

In [57]:
# Groupby
rating.groupby('movieId')['rating'].median()

movieId
1         4.0
2         3.0
3         3.0
4         3.0
5         3.0
         ...
161944    5.0
162376    4.5
162542    5.0
162672    3.0
163949    5.0
Name: rating, Length: 9066, dtype: float64

In [58]:
# Groupby beberapa statistik
rating.groupby('movieId')['rating'].agg(['mean', 'count', 'median'])

             mean  count  median
movieId
1        3.872470    247     4.0
2        3.401869    107     3.0
3        3.161017     59     3.0
4        2.384615     13     3.0
5        3.267857     56     3.0
...           ...    ...     ...
161944   5.000000      1     5.0
162376   4.500000      1     4.5
162542   5.000000      1     5.0
162672   3.000000      1     3.0
163949   5.000000      1     5.0

[9066 rows x 3 columns]

In [59]:
# Groupby
rating.groupby('movieId').agg({'userId': pd.Series.nunique, 'rating': ['mean', 'median']})

         userId    rating
        nunique      mean median
movieId
1           247  3.872470    4.0
2           107  3.401869    3.0
3            59  3.161017    3.0
4            13  2.384615    3.0
5            56  3.267857    3.0
...         ...       ...    ...
161944        1  5.000000    5.0
162376        1  4.500000    4.5
162542        1  5.000000    5.0
162672        1  3.000000    3.0
163949        1  5.000000    5.0

[9066 rows x 3 columns]

In [60]:
movies_rating = rating.groupby('movieId')['rating'].agg(['mean', 'count', 'median'])
movies_rating

             mean  count  median
movieId
1        3.872470    247     4.0
2        3.401869    107     3.0
3        3.161017     59     3.0
4        2.384615     13     3.0
5        3.267857     56     3.0
...           ...    ...     ...
161944   5.000000      1     5.0
162376   4.500000      1     4.5
162542   5.000000      1     5.0
162672   3.000000      1     3.0
163949   5.000000      1     5.0

[9066 rows x 3 columns]

In [61]:
# Merger
english_Release_rating = english_Release.merge(movies_rating,
                                               left_on = 'id',
                                               right_on = 'movieId',
                                               how = 'inner')
english_Release_rating

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,mean,count,median
0,Heat,True,No Data,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",No Data,949.0,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,3.593750,16,3.75
1,GoldenEye,True,"{'id': 645, 'name': 'James Bond Collection', '...",58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710.0,en,James Bond must unmask the mysterious head of ...,14.686036,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1.500000,2,1.50
2,Cutthroat Island,True,No Data,98000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",No Data,1408.0,en,"Morgan Adams and her slave, William Shaw, are ...",7.284477,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,3.616279,43,4.00
3,Casino,True,No Data,52000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",No Data,524.0,en,The life of the gambling paradise ‚Äì Las Vegas ...,10.137389,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,3.555556,36,3.50
4,Sense and Sensibility,True,No Data,16500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",No Data,4584.0,en,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,5.000000,1,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,Kruistocht in Spijkerbroek,True,No Data,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",No Data,2286.0,en,Dolf a 15 year old boy is sent back in time by...,11.322545,...,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,No Tagline,Crusade in Jeans,False,6.0,15.0,1.666667,3,1.00
2048,Beat,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,3178.0,en,The story of writer William Seward Burroughs a...,0.758451,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sex and Drugs before Rock and Roll,Beat,False,4.9,9.0,3.636364,22,4.00
2049,Jesus,True,"{'id': 2704, 'name': 'The Bible Collection', '...",20000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",No Data,2331.0,en,The film is notable for presenting a more huma...,2.524781,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No Tagline,Jesus,False,5.4,8.0,3.777778,9,4.00
2050,Sang Pemimpi,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,80831.0,en,This movie is an adaptation from a popular nov...,0.083371,...,"[{'iso_639_1': 'id', 'name': 'Bahasa indonesia'}]",Released,No Tagline,Sang Pemimpi,False,6.5,2.0,3.250000,4,3.25
2051,Frankenstein Created Woman,True,"{'id': 123720, 'name': 'Frankenstein (Hammer S...",0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",No Data,3104.0,en,A deformed tormented girl drowns herself after...,2.302582,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Now Frankenstein has created a beautiful woman...,Frankenstein Created Woman,False,5.9,33.0,3.965517,29,4.00

In [62]:
# profit = revenue - budget
english_Release_rating['profit'] = english_Release_rating['revenue'] - english_Release_rating['budget']

In [63]:
# sort film dengan profit yg tinggi
english_Release_rating[['original_title', 'profit', 'runtime']].sort_values('profit', ascending=False).head(10)

                                     original_title        profit  runtime
310                                         Titanic  1.645034e+09    194.0
976   The Lord of the Rings: The Return of the King  1.024889e+09    201.0
1309     Pirates of the Caribbean: Dead Man's Chest  8.656598e+08    151.0
82                                    Jurassic Park  8.571000e+08    127.0
760        Harry Potter and the Philosopher's Stone  8.514756e+08    152.0
852           The Lord of the Rings: The Two Towers  8.472874e+08    179.0
881                                    Finding Nemo  8.463355e+08    100.0
1500                                The Dark Knight  8.195584e+08    152.0
1049                                        Shrek 2  7.698388e+08     93.0
40                                        Star Wars  7.643980e+08    121.0

In [64]:
english_Release_rating['original_language'] == 'en'

0       True
1       True
2       True
3       True
4       True
        ...
2047    True
2048    True
2049    True
2050    True
2051    True
Name: original_language, Length: 2052, dtype: bool

In [65]:
english_Release_rating['long_duration_movie'] = (english_Release_rating["runtime"] >= 60*3).astype('int')

In [66]:
english_Release_rating[english_Release_rating['long_duration_movie'] == 1]

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,...,tagline,title,video,vote_average,vote_count,mean,count,median,profit,long_duration_movie
92,Schindler's List,True,No Data,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.schindlerslist.com/,424.0,en,The true story of how businessman Oskar Schind...,41.725123,...,"Whoever saves one life, saves the world entire.",Schindler's List,False,8.3,4436.0,3.000000,3,3.50,2.993656e+08,1
94,Short Cuts,True,No Data,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",No Data,695.0,en,"Multi-storied, fish-eyed look at American cult...",8.829337,...,Short Cuts raises the roof on America.,Short Cuts,False,6.9,136.0,4.000000,2,4.00,6.110979e+06,1
102,Dances with Wolves,True,No Data,22000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",No Data,581.0,en,"Wounded Civil War soldier, John Dunbar tries t...",11.654349,...,Inside everyone is a frontier waiting to be di...,Dances with Wolves,False,7.6,1084.0,4.235294,17,4.00,4.022088e+08,1
196,Lawrence of Arabia,True,No Data,15000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",No Data,947.0,en,An epic about British officer T.E. Lawrence's ...,10.893332,...,No Tagline,Lawrence of Arabia,False,7.8,870.0,3.681818,11,4.00,5.499538e+07,1
206,The Godfather: Part II,True,"{'id': 230, 'name': 'The Godfather Collection'...",13000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",No Data,240.0,en,In the continuing saga of the Corleone crime f...,36.629307,...,"I don't feel I have to wipe everybody out, Tom...",The Godfather: Part II,False,8.3,3418.0,3.400000,5,3.00,3.454284e+07,1
238,Ben-Hur,True,No Data,15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",No Data,665.0,en,Ben-Hur is a 1959 epic film directed by Willia...,14.319743,...,The entertainment experience of a lifetime.,Ben-Hur,False,7.5,660.0,3.400000,5,3.00,1.319000e+08,1
240,Gandhi,True,No Data,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,783.0,en,"In the early years of the 20th century, Mohand...",12.383755,...,His triumph changed the world forever.,Gandhi,False,7.4,730.0,3.357143,49,3.50,5.573789e+07,1
310,Titanic,True,No Data,200000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.titanicmovie.com,597.0,en,"84 years later, a 101-year-old woman named Ros...",26.889070,...,Nothing on Earth could come between them.,Titanic,False,7.5,7770.0,3.360544,147,3.00,1.645034e+09,1
360,Doctor Zhivago,True,No Data,11000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",No Data,907.0,en,Doctor Zhivago is the filmed adapation of the ...,8.489499,...,Turbulent were the times and fiery was the lov...,Doctor Zhivago,False,7.4,252.0,4.090909,11,4.00,1.008584e+08,1
480,Barry Lyndon,True,No Data,11000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",No Data,3175.0,en,"In the Eighteenth Century, in a small village ...",14.003467,...,At long last Redmond Barry became a gentleman ...,Barry Lyndon,False,7.7,521.0,3.507692,65,3.50,9.000000e+06,1
531,The Green Mile,True,No Data,60000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",http://thegreenmile.warnerbros.com/,497.0,en,A supernatural tale set on death row in a Sout...,19.966780,...,Miracles do happen.,The Green Mile,False,8.2,4166.0,3.983333,60,4.00,2.246000e+08,1
533,Magnolia,True,No Data,37000000.0,"[{'id': 18, 'name': 'Drama'}]",http://www.magnoliamovie.com/,334.0,en,An epic mosaic of many interrelated characters...,9.091636,...,Things fall down. People look up. And when it ...,Magnolia,False,7.5,844.0,3.071429,14,4.00,1.145180e+07,1
539,Malcolm X,True,No Data,34000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,1883.0,en,The biopic of the controversial and influentia...,14.207001,...,No Tagline,Malcolm X,False,7.3,377.0,3.290323,31,4.00,1.416991e+07,1
562,JFK,True,No Data,40000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",No Data,820.0,en,New Orleans District Attorney Jim Garrison dis...,13.813146,...,The story that won‚Äôt go away.,JFK,False,7.5,513.0,5.000000,1,5.00,1.654055e+08,1
682,The Greatest Story Ever Told,True,No Data,20000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,2428.0,en,All-star epic retelling of Christ's life.,3.961342,...,No Tagline,The Greatest Story Ever Told,False,6.5,41.0,2.590909,22,3.00,-4.526667e+06,1
704,The Sand Pebbles,True,No Data,12000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",No Data,5923.0,en,Engineer Jake Holman arrives aboard the gunboa...,11.354247,...,This is the heroic story of the men on the U.S...,The Sand Pebbles,False,7.2,59.0,2.750000,2,2.75,8.000000e+06,1
838,Exodus,True,No Data,4000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",No Data,1941.0,en,The theme is the founding of the state of Isra...,7.819581,...,No Tagline,Exodus,False,6.9,39.0,4.416667,6,4.50,1.775000e+07,1
976,The Lord of the Rings: The Return of the King,True,"{'id': 119, 'name': 'The Lord of the Rings Col...",94000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net,122.0,en,Aragorn is revealed as the heir to the ancient...,29.324358,...,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,False,8.1,8226.0,3.052632,19,3.00,1.024889e+09,1
1026,Frank Herbert's Dune,True,No Data,20000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.scifi.com/dune_2k/,876.0,en,A three part mini-series based on Frank Herber...,14.612842,...,Discover the greatest treasure in the universe.,Frank Herbert's Dune,False,6.7,114.0,5.000000,1,5.00,-2.000000e+07,1
1118,A Star Is Born,True,No Data,5019770.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",No Data,3111.0,en,A movie star helps a young singer/actress find...,7.051183,...,The applause of the world -- and then this!,A Star Is Born,False,7.1,56.0,4.222222,9,4.00,-5.019770e+06,1
1156,Merlin,True,No Data,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",No Data,7096.0,en,The legendary wizard tells his story of his wa...,9.306540,...,The most magical adventure of all time.,Merlin,False,6.0,47.0,4.000000,2,4.00,0.000000e+00,1
1272,King Kong,True,No Data,207000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",No Data,254.0,en,"In 1933 New York, an overly ambitious movie pr...",19.761164,...,The eighth wonder of the world.,King Kong,False,6.6,2403.0,3.000000,4,3.00,3.430000e+08,1
1367,INLAND EMPIRE,True,No Data,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",http://www.inlandempirecinema.com/,1730.0,en,An actress's perception of reality becomes inc...,6.610774,...,A woman in trouble,INLAND EMPIRE,False,7.1,249.0,3.900000,5,4.00,8.490550e+05,1
1552,Flash Gordon,True,No Data,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",No Data,3632.0,en,Three earthlings visit the planet Mongo to thw...,1.149111,...,No Tagline,Flash Gordon,False,6.6,10.0,4.000000,3,3.50,0.000000e+00,1
1565,Ludwig,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,3478.0,en,"A history of Ludwig, king of Bavaria, from his...",1.337900,...,No Tagline,Ludwig,False,7.5,20.0,3.333333,12,3.50,0.000000e+00,1
1574,Chelsea Girls,True,No Data,3000.0,[],No Data,1686.0,en,"Lacking a formal narrative, Warhol's art house...",0.505098,...,No Tagline,Chelsea Girls,False,6.6,6.0,3.600000,5,3.00,-3.000000e+03,1
1660,Feast of All Saints,True,No Data,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",No Data,74946.0,en,"Set in nineteenth-century New Orleans, the sto...",0.731121,...,"Born into one world, destined for another.",Feast of All Saints,False,4.4,4.0,3.375000,4,3.25,0.000000e+00,1
1680,Judex,True,No Data,0.0,"[{'id': 12, 'name': 'Adventure'}]",No Data,56801.0,en,Director Louis Feuillade won fame and critical...,0.457288,...,No Tagline,Judex,False,7.0,4.0,1.875000,4,2.25,0.000000e+00,1
1853,The Great Los Angeles Earthquake,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",No Data,100032.0,en,After a series of small tremors in Los Angeles...,1.315925,...,"There is no safe harbor, there is no escape......",The Great Los Angeles Earthquake,False,6.8,5.0,2.000000,1,2.00,0.000000e+00,1
1943,David,True,"{'id': 2704, 'name': 'The Bible Collection', '...",15000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,2734.0,en,The tribes of Israel need to defeat the superi...,2.404939,...,David,David,False,8.2,11.0,3.333333,18,3.50,-1.500000e+07,1
2038,Longitude,True,No Data,0.0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,...",No Data,68954.0,en,Parallel stories: 18th century Harrison builds...,6.051227,...,No Tagline,Longitude,False,7.3,12.0,3.942623,61,4.00,0.000000e+00,1
2049,Jesus,True,"{'id': 2704, 'name': 'The Bible Collection', '...",20000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",No Data,2331.0,en,The film is notable for presenting a more huma...,2.524781,...,No Tagline,Jesus,False,5.4,8.0,3.777778,9,4.00,-2.000000e+07,1

In [67]:
english_Release_rating['title_length'] = english_Release_rating['original_title'].str.len()

In [68]:
# title yg kurang dari 10
english_Release_rating[english_Release_rating['title_length'] < 5]

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,...,title,video,vote_average,vote_count,mean,count,median,profit,long_duration_movie,title_length
0,Heat,True,No Data,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",No Data,949.0,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,...,Heat,False,7.7,1886.0,3.593750,16,3.75,127436818.0,0,4
43,Nell,True,No Data,31000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",No Data,1945.0,en,"In a remote woodland cabin, a small town docto...",5.930957,...,Nell,False,6.1,128.0,4.448276,29,4.50,75683817.0,0,4
122,Jack,True,No Data,45000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",No Data,7095.0,en,Jack Powell suffers from an affliction that ma...,6.287245,...,Jack,False,5.9,340.0,2.500000,1,2.50,13620973.0,0,4
126,Emma,True,No Data,6000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",http://www.miramax.com/movie/emma/,3573.0,en,Emma Woodhouse is a congenial young lady who d...,6.593011,...,Emma,False,6.7,152.0,2.250000,2,2.25,16231658.0,0,4
301,Bean,True,"{'id': 103372, 'name': 'Mr. Bean Collection', ...",18000000.0,"[{'id': 35, 'name': 'Comedy'}]",No Data,1281.0,en,Bean works as a caretaker at Britain's formida...,12.799853,...,Bean,False,6.3,602.0,4.043478,23,4.00,233212670.0,0,4
333,Pi,True,No Data,60000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",http://www.pithemovie.com/,473.0,en,The debut film from Darren Aronofsky in which ...,10.621362,...,Pi,False,7.1,600.0,1.000000,3,1.00,3161152.0,0,2
355,Dune,True,No Data,40000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",No Data,841.0,en,"In the year 10,191, the world is at war for co...",9.261189,...,Dune,False,6.5,576.0,3.714286,7,4.00,-9074310.0,0,4
363,Tron,True,"{'id': 63043, 'name': 'TRON Collection', 'post...",17000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",No Data,97.0,en,As Kevin Flynn searches for proof that he inve...,16.574021,...,Tron,False,6.6,717.0,3.875000,8,4.00,16000000.0,0,4
373,Rope,True,No Data,1500000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",No Data,1580.0,en,"Two young men strangle their ""inferior"" classm...",7.248676,...,Rope,False,7.8,539.0,3.663158,190,4.00,700000.0,0,4
382,54,True,No Data,13000000.0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",No Data,3682.0,en,"Shane, a Jersey boy with big dreams, crosses t...",8.736869,...,54,False,5.5,138.0,2.714286,7,3.00,3757163.0,0,2
391,Cube,True,"{'id': 432, 'name': 'Cube Collection', 'poster...",250000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",No Data,431.0,en,Seven strangers are taken out of their daily l...,12.095263,...,Cube,False,6.9,1101.0,3.671875,32,4.00,251818.0,0,4
403,Antz,True,No Data,60000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",No Data,8916.0,en,"In this animated hit, a neurotic worker ant in...",16.025625,...,Antz,False,6.0,1320.0,3.428571,7,3.50,111757863.0,0,4
407,2010,True,"{'id': 4438, 'name': 'The Space Odyssey Series...",28000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",No Data,4437.0,en,This is a sequel to 2001 A Space Odyssey. It i...,7.482865,...,2010,False,6.6,290.0,4.125000,4,4.00,12400657.0,0,4
448,Life,True,No Data,80000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",No Data,6522.0,en,Two men in 1930s Mississippi become friends af...,7.579444,...,Life,False,6.4,179.0,3.000000,1,3.00,-6654971.0,0,4
488,Big,True,No Data,18000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",No Data,2280.0,en,"A young boy, Josh Baskin makes a wish at a car...",9.562292,...,Big,False,6.9,1022.0,3.500000,5,3.50,133668774.0,0,3
562,JFK,True,No Data,40000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",No Data,820.0,en,New Orleans District Attorney Jim Garrison dis...,13.813146,...,JFK,False,7.5,513.0,5.000000,1,5.00,165405498.0,1,3
585,Hook,True,No Data,70000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",No Data,879.0,en,The boy who wasn't supposed to grow up‚ÄîPeter P...,14.508137,...,Hook,False,6.7,1563.0,3.300000,5,3.00,230854823.0,0,4
688,Blow,True,No Data,53000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",No Data,4133.0,en,A boy named George Jung grows up in a struggli...,12.332223,...,Blow,False,7.4,1352.0,3.333333,3,3.00,30282296.0,0,4
763,Fame,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,3537.0,en,A chronicle of the lives of several teenagers ...,5.511557,...,Fame,False,6.0,97.0,2.833333,6,3.00,21202829.0,0,4
806,CQ,True,No Data,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",No Data,27834.0,en,A young filmmaker in 1960s Paris juggles direc...,1.991025,...,CQ,False,6.0,22.0,4.500000,1,4.50,0.0,0,2
819,xXx,True,"{'id': 52785, 'name': 'xXx Collection', 'poste...",70000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/xxx/,7451.0,en,Xander Cage is your standard adrenaline junkie...,12.722381,...,xXx,False,5.8,1454.0,3.517857,28,3.50,207448382.0,0,3
846,Joey,True,No Data,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",No Data,7011.0,en,"A nine year old boy named Joey, who after the ...",0.712615,...,Making Contact,False,6.3,9.0,3.500000,1,3.50,0.0,0,4
891,Hulk,True,No Data,137000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",No Data,1927.0,en,"Bruce Banner, a genetics researcher with a tra...",15.422638,...,Hulk,False,5.3,1571.0,4.285714,14,4.75,108360480.0,0,4
911,Fire,True,"{'id': 7505, 'name': 'Elements Trilogy', 'post...",0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",No Data,513.0,en,"In a barren, arranged marriage to an amateur s...",5.398354,...,Fire,False,6.0,17.0,2.500000,6,2.50,501533.0,0,4
1095,Saw,True,"{'id': 656, 'name': 'Saw Collection', 'poster_...",1200000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",No Data,176.0,en,Obsessed with teaching his victims the value o...,23.508433,...,Saw,False,7.2,2255.0,3.777778,18,4.00,102711669.0,0,3
1130,Duel,True,No Data,450000.0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...",No Data,839.0,en,"Travelling businessman, David Mann, angers the...",12.331251,...,Duel,False,7.2,374.0,3.272727,11,3.00,-450000.0,0,4
1137,Up!,True,"{'id': 294834, 'name': 'Vixens Collection', 'p...",0.0,"[{'id': 35, 'name': 'Comedy'}]",No Data,5651.0,en,Up! is a 1976 soft core sex comedy film direct...,2.342003,...,Up!,False,5.6,27.0,3.000000,3,3.00,0.0,0,3
1219,Rize,True,No Data,0.0,"[{'id': 99, 'name': 'Documentary'}]",No Data,2287.0,en,A documentary film that highlights two street ...,1.355932,...,Rize,False,5.9,13.0,3.500000,6,3.50,0.0,0,4
1240,Doom,True,No Data,60000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",No Data,8814.0,en,A team of space marines known as the Rapid Res...,11.953553,...,Doom,False,5.0,619.0,1.000000,1,1.00,-4012679.0,0,4
1266,Rent,True,No Data,40000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.sonypictures.com/movies/rent/,1833.0,en,This rock opera tells the story of one year in...,9.530278,...,Rent,False,6.7,159.0,2.727273,11,3.00,-8329380.0,0,4
1304,Cars,True,"{'id': 87118, 'name': 'Cars Collection', 'post...",120000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://disney.go.com/disneyvideos/animatedfilm...,920.0,en,"Lightning McQueen, a hotshot rookie race car d...",18.907948,...,Cars,False,6.6,3991.0,4.044118,68,4.00,341983149.0,0,4
1329,2:37,True,No Data,850000.0,"[{'id': 18, 'name': 'Drama'}]",No Data,2168.0,en,"A contemporary, ensemble drama telling the com...",6.558245,...,2:37,False,6.7,50.0,3.375000,4,3.50,-850000.0,0,4
1390,300,True,"{'id': 125570, 'name': '300 Collection', 'post...",65000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://300themovie.warnerbros.com,1271.0,en,"Based on Frank Miller's graphic novel, ""300"" i...",18.108408,...,300,False,7.0,5092.0,3.700000,40,4.00,357610419.0,0,3
1395,TMNT,True,No Data,34000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",https://www.warnerbros.com/tmnt,1273.0,en,"After the defeat of their old arch nemesis, Th...",11.358363,...,TMNT,False,6.0,349.0,3.736842,19,4.00,61608995.0,0,4
1411,Once,True,No Data,160000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.foxsearchlight.com/once/,5723.0,en,A vacuum repairman moonlights as a street musi...,10.357064,...,Once,False,7.4,457.0,4.000000,1,4.00,20550513.0,0,4
1421,1408,True,No Data,25000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.1408-themovie.com/,3021.0,en,A man who specializes in debunking paranormal ...,9.196884,...,1408,False,6.5,1372.0,5.000000,1,5.00,69679598.0,0,4
1528,1984,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",No Data,1984.0,en,"In a totalitarian future society, a man whose ...",6.113449,...,1984,False,7.0,23.0,1.875000,8,1.00,0.0,0,4
1628,Jib,True,No Data,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",No Data,134569.0,en,The Korean Academy of Film Arts has produced a...,0.276060,...,The House,False,7.1,4.0,3.500000,1,3.50,0.0,0,3
1673,Zaat,True,No Data,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 14, 'n...",No Data,31116.0,en,A mad scientist (and apparent former Nazi) unl...,0.794203,...,Zaat,False,2.1,14.0,3.750000,2,3.75,0.0,0,4
1728,Mud,True,No Data,10000000.0,"[{'id': 18, 'name': 'Drama'}]",No Data,103731.0,en,Two teenage boys encounter a fugitive and make...,7.881579,...,Mud,False,7.0,1080.0,5.000000,1,5.00,11587700.0,0,3
1730,8:46,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,127728.0,en,A glimpse into the lives of an ensemble of cha...,0.714819,...,8:46,False,6.5,4.0,5.000000,1,5.00,0.0,0,4
1788,Exit,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,142507.0,en,Several people think the city is a maze and th...,0.667502,...,Exit,False,3.5,2.0,3.000000,1,3.00,0.0,0,4
1978,Roar,True,No Data,17000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",http://www.roarthemovie.com/,2989.0,en,Roar follows a family who are attacked by vari...,1.307263,...,Roar,False,5.6,19.0,3.527778,18,3.75,-15000000.0,0,4
2013,Silk,True,No Data,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",No Data,107412.0,en,"Silk, the toughest cop in Honolulu, busts smal...",0.108872,...,Silk,False,4.3,2.0,5.000000,1,5.00,0.0,0,4
2025,Boat,True,No Data,0.0,"[{'id': 10769, 'name': 'Foreign'}]",No Data,48780.0,en,A journey into night.,0.479388,...,Boat,False,7.6,9.0,4.125000,52,4.50,0.0,0,4
2036,A2,True,"{'id': 112406, 'name': 'The Aum Shinrikyo Coll...",0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",No Data,111913.0,en,A2 is a continuation of director Tatsuya Mori'...,0.102332,...,A2,False,0.0,0.0,3.000000,1,3.00,0.0,0,2
2048,Beat,True,No Data,0.0,"[{'id': 18, 'name': 'Drama'}]",No Data,3178.0,en,The story of writer William Seward Burroughs a...,0.758451,...,Beat,False,4.9,9.0,3.636364,22,4.00,0.0,0,4

In [69]:
english_Release_rating['duration_hour'] = english_Release_rating['runtime']/60

In [72]:
english_Release_rating['year_release'] = english_Release_rating['release_date'].dt.year

In [74]:
english_Release_rating['fav_movie'] = english_Release_rating['median'] >= 3

In [78]:
year_release = english_Release_rating.groupby('year_release').size()

In [80]:
year_release.sort_values(ascending=False).head(10)

year_release
2007    110
2006    105
2005     79
2004     79
2001     75
2003     71
2000     67
2002     63
1998     56
1999     53
dtype: int64